<div class="post-form-container post-form-container--modifier">
  <form [formGroup]="postForm" (ngSubmit)="create()" class="post-form">
    <mat-form-field class="post-form__field">
      <mat-label class="post-form__label">What are u thinking?</mat-label>
      <textarea cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                matInput
                formControlName="postContent"
                class="post-form__textarea"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" class="post-form__button" color="primary" [disabled]="isLoading">
      <span *ngIf="!isLoading">Create</span>
      <mat-progress-spinner diameter="20" *ngIf="isLoading"></mat-progress-spinner>
    </button>
  </form>
</div>
