<script src="../comment-form/comment-form.component.ts"></script>
<mat-card class="post">
  <div class="">
    <header class="post__header">
      <div class="c">
        <div class="post__avatar">{{ post.author.username[0] }}</div>

        <div class="">
          <a > {{ post.author.username }}</a>
          <mat-card-subtitle>
            {{ post.updatedAt | date }}
          </mat-card-subtitle>
        </div>
      </div>
      <div *ngIf="(profileService.profile$ | async)?._id === post.author._id">
        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="openEditForm()" mat-menu-item>Edit</button>
          <button (click)="deletePost()" mat-menu-item>Delete</button>
        </mat-menu>
      </div>
    </header>


  </div>

  <div class="post__content">
    <form [formGroup]="editForm" (ngSubmit)="submitEdit()" class="edit-form" *ngIf="isEdit">
      <mat-form-field>
        <textarea formControlName="text" [defaultValue]="post.text" matInput >{{post.text}}</textarea>
      </mat-form-field>
      <button type="submit" mat-button> Save changes</button>
    </form>
    <p class="post__text" *ngIf="!isEdit">{{ post.text }}</p>
  </div>
  <div class="post__actions">
    <button mat-button (click)="openCommentForm()">Comment</button>
    <button mat-button (click)="openComments()" >View comments</button>
  </div>
</mat-card>
